div.container-fluid{
  width:100vh;
  height:100vh;
}
h1{
  /*margin-top: 10% !important;*/
  display: block;
  font-size: 50px !important;
}
a.random{
  /*margin-top:30%;*/
  /*padding-top: 20%;*/
  display:block;
  font-size: 30px;
}
a.random:hover{
  text-decoration:none;
}
input{
  border-radius:30px;
  width:30px;
  height:30px;
  padding:0 10px;
  transition:width 1s;
  border:2px solid black;
  outline:none;
}
input:focus{
  width:200px;
}

.search-icon{
  /*margin-top: 100px;*/
}
.search-icon:after{
  content:"";
  width:5px;
  height:20px;
  background:black;
  position:relative;
  left:-5px;
  top:23px;
  transform: rotate(-41deg);
  display: inline-block;
}