*{
	box-sizing: border-box;
	margin:0;
}
.container{
	width: 100%;
	height: 100vh;
	background: #0099CC;
	overflow: hidden; /*解决父元素.container和子元素.calculator之间margin塌陷问题（解决子元素margin-top无效）*/
}
.calculator{
	width:500px;
	background: #CC9999;
	margin: 20px auto auto auto;
	border-radius: 10px;
	padding: 30px;
}

input{
	width:100%;
	height: 50px;
	outline: none;
	text-align: right;
}

.buttons{
	width:100%;
	text-align: center; /*让.buttons中的button居中*/
	margin-top: 30px;
}

button{
	width: 100px;
	height: 60px;
	margin: 3px;
	cursor: pointer;
	background: #fff;
	transition: background .5s;
	border: none;
}

button:hover{
	background: #666666;
}