body {
    background: #0099CC;
}

.container-fluid {
    min-width: 822px;
    margin-top: 100px;

}

.row {
    text-align: center;
}

i {
    margin: 30px;
}
i:hover{
	color: #CC9999;
}
#timer{
	font-size: 30px;
}