body {
    background: #0099CC;
}

.container-fluid {
    min-width: 822px;
    margin-top: 100px;

}

.row {
    text-align: center;
}


#timer{
	font-size: 30px;
	margin-bottom: 20px;
}
#w-time,#b-time{
	font-size: 20px;
}


i {
    margin: 30px;

}
i:hover{
	color: white;
}